.siteMain {
  margin: 0 15px;
  box-sizing: border-box;
}

.secBorder {
  width: 100%;
  height: 1px;
  background-color: #e6e6eb;
  margin: 24px 0;
}

@media only screen and (min-width: 768px) {
  .siteMain {
    margin: 0 165px;
  }

  .mainContainer {
    width: 540px;
  }
}
